ul {
		margin: 0 0 2rem 0;
		padding-left: 0;
	}

		ul li {
			font-size: 1em;
			margin-bottom: 0;
		}

		ul.divided {
			list-style: none;
			padding-left: 0;
		}

			ul.divided li {
				border-top: solid 1px;
				padding: 0.5rem 0;
			}

				ul.divided li:first-child {
					border-top: 0;
					padding-top: 0;
				}